body 
{
    margin: 0;
    padding: 0;
    font-family: source sans pro;
    color: #0000008c;    
}

main {
  margin-bottom: 200px;
}

*
{
    box-sizing: border-box;
}

/* secao cabecalho*/
header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #00cad1;
}

header img 
{
    width: 150px;
}

header nav 
{
    font-size: 18px;
}

header a 
{
    margin: 0 5px;
    text-decoration: none;
    color: #000;
    padding: 5px;
}

header a:hover
{
    color:#000;
}

/*Secao principal*/

.links-especialidade
{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 width: 100%;
 align-items: center;

}

.links-especialidade a
{
    color: #000;
    font-size: 22px;
    text-decoration:none;  
    border-bottom: 2px solid #00cad1;
    margin: 15px 10px 20px;

}

.links-especialidade a:hover {
  opacity: 0.8;
}

.titulo-especialidades
{
text-align: center;
}

.secao-sobre-especialidades
{
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    align-items: center;
    
}

.secao-sobre-especialidades h3 {
  font-size: 28px;
  margin: 25px 0;
}

.secao-sobre-especialidades p {
  width: 80%;
  text-align: center;
  font-size: 22px;
}

/*secao tabelas*/

.box-tabela-especialista table {
  border-spacing: 0;
  width: 70%;
}

.box-tabela-especialista {
    display: flex;
    justify-content: center;
    height: 240px;
    margin: 30px auto;
  }

  .box-tabela-especialista img {
    width: 20%;
  
  }

.table-especialidades 
{
  border-spacing: 0;
  text-align: left;
  width: 70%;
  height: 100%;
}


.table-especialidades th
{
  background-color: #00cad1;
  color: #fff;
  font-size: 18px;
}

.table-especialidades tr, th, td
{
  padding: 10px;
  text-align: justify;
}

.table-especialidades tbody tr:nth-child(odd)
{
    background-color: #cdcdcd;
    border: 1px solid #f1f1f1;
}


.tabela-especialistas {
    width: 100%;
  }

/* secao rodape*/
footer{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;
    background-color: #128e92;
    color: #fff;
}

@media (max-width: 768px)
{
 .box-tabela-especialista img 
 {
   display: none;
 }
}

@media ( max-width: 412px) 
{
.links-especialidade 
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box-tabela-especialista
{
  padding: 50px;
}

.secao-sobre-especialidades p
{
  text-align: center;
}
}