body 
{
    margin: 0;
    padding: 0;
    font-family: source sans pro;
    color: #0000008c;
    
}

*
{
    box-sizing: border-box;
}

/* secao cabecalho*/
header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    background-color: #00cad1;
    
    
}

header img 
{
    width: 150px;
}

header nav 
{
    font-size: 18px;
}

header a 
{
    margin: 0 5px;
    text-decoration: none;
    color: #000;
    padding: 5px;
}

header, a:hover
{
    color:#fff;
}

/*Secao principal*/
section
{
    padding: 60px 20px;
}

.container-title
{
    position: relative;
    background-image: url('assets/recepcao.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    color: #fff;
}

.container-title h1
{
  font-weight: 500;
  text-transform: uppercase;
  font-size: 38px;
  margin: 0;
}

.secao-sobre
{
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    align-items: center;
}

.secao-sobre h1
{
    font-size:28px;
}

.secao-sobre p
{
    font-size:20px;
}
.secao-especialidades {
    display: flex;
    flex-wrap: wrap;
  }

  .secao-especialidades {
    display: flex;
    flex-wrap: wrap;
  }
  
  .secao-especialidades figure {
    display: flex;
    flex-direction: column; 
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 20px; /* Espaçamento entre as figuras */
  }

  .secao-especialidades img
  {
    width: 400px;
    height: 300px;
  }
  
  .secao-especialidades figcaption {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
  }
  
  
.lista
{
    display: flex;
}

.horarios
{
    display:flex ;
    justify-content: center;
    
    width: 12%;
    margin: auto;
    padding:10px;
}

.horarios a
{
    background-color: #00cad1;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;

}

@media (max-width: 425px) {
    .topo .container { flex-direction: column; }
    .topo-titulo { margin: 10px 0; }
    .topo-links { width: 100%; border-top: 1px solid #009fa5; justify-content: space-around;}
  }


/* secao rodape*/
footer{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;

    background-color: #0d6e71;
    color: #fff;
}